*{
    margin: 0;
    font-family: Roboto,'san-serif';
}

.container{
    background-color:#051b24;
    color:#e8edef;
    padding: 3em;
}

.todo--input{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo--input .heading{
    font-size: 2rem;
    margin-bottom: 1em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.toDoInput{
    background-color:#062a36;
    padding: 1em;
    width: 325px;
    border-radius: 3px;
    border: none;
    color: #e8edef;
    outline: none;
}

.toDoInput:focus{
    background-color: #062a36;
    border: none;
}

.toDoInput::placeholder{
    font-size: 1.2em;
    font-weight: bold;
}

.btn{
    padding: 1em;
    background-color:#fe8d43;
    color: #e8edef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    /* font-size: 1em; */
}

.btn:hover{
    opacity: 0.9;
}

.main--body{
   background-color: #e8edef;
    padding: 2em;
    height: 100vh;
}

.counter{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #e8edef;
}

.total , .completed , .remaining{
    background-color:#071b23;
    padding: 5px 0 5px 5px;
}

.count{
    background-color:#2188b7;
    padding: 5px;
}

.todo--list{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   margin-top: 4em;
}

.task{
    padding: 1em;
    background-color:#fefefe;
    color:#46525b;
    display: flex;
    /* flex-direction: column; */
    /* width: 400px; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.check_btn , .edit_btn , .delete_btn{
    background: none;
    border: none;
    cursor: pointer;
}

/* .check{
    text-decoration: line-through;
    opacity: 0.8;
    font-style: italic;
    background-color:#d1e7f0
} */















